@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
@font-face {
  font-family: Gotham-Bold;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold") format("svg"); }
@font-face {
  font-family: Gotham-Book;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Gotham-Book/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg"); }
@font-face {
  font-family: Gotham-Thin;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Gotham-Thin/Gotham-Thin.eot");
  src: url("../fonts/Gotham-Thin/Gotham-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Thin/Gotham-Thin.woff") format("woff"), url("../fonts/Gotham-Thin/Gotham-Thin.ttf") format("truetype"), url("../fonts/Gotham-Thin/Gotham-Thin.svg#Gotham-Thin") format("svg"); }
@-webkit-keyframes animation-results-out {
  from {
    -webkit-transform: translateX(80px);
    opacity: 0; }

  to {
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@-moz-keyframes animation-results-out {
  from {
    -moz-transform: translateX(80px);
    opacity: 0; }

  to {
    -moz-transform: translateX(0px);
    opacity: 1; } }
@keyframes animation-results-out {
  from {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; }

  to {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
.animate-results-out {
  -webkit-animation: animation-results-out cubic-bezier(0.86, 0, 0.07, 1) 350ms;
  -moz-animation: animation-results-out cubic-bezier(0.86, 0, 0.07, 1) 350ms;
  animation: animation-results-out cubic-bezier(0.86, 0, 0.07, 1) 350ms; }

html, body {
  background-color: #080b0e;
  background-image: -webkit-linear-gradient(-315deg, #080b0e, #233140);
  background-image: linear-gradient(45deg,#080b0e, #233140);
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  font-family: "Vollkorn", serif;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  -webkit-font-smoothing: antialiased;
  outline: 0 none; }
  button:focus {
    outline: 0 none; }

.btn-hamburger {
  z-index: 10001;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: block;
  background: transparent; }

.menu-icon {
  position: fixed;
  z-index: 9999;
  top: 18px;
  right: 15px;
  height: 2px;
  width: 20px;
  background: white;
  border-radius: 999px; }
  .menu-icon:before, .menu-icon:after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 2px;
    width: 20px;
    right: 0;
    background: white;
    border-radius: 999px; }

.animate-menu-icon-in {
  -webkit-transition: all, linear, 150ms;
  -moz-transition: all, linear, 150ms;
  transition: all, linear, 150ms;
  background: transparent; }
  .animate-menu-icon-in:before, .animate-menu-icon-in:after {
    width: 20px; }
  .animate-menu-icon-in:before {
    -webkit-transition: all, linear, 300ms;
    -moz-transition: all, linear, 300ms;
    transition: all, linear, 300ms;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 6px; }
  .animate-menu-icon-in:after {
    -webkit-transition: all, linear, 300ms;
    -moz-transition: all, linear, 300ms;
    transition: all, linear, 300ms;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 6px; }

.animate-menu-icon-out {
  -webkit-transition: all, linear, 100ms;
  -moz-transition: all, linear, 100ms;
  transition: all, linear, 100ms; }
  .animate-menu-icon-out:before {
    -webkit-transition: all, linear, 300ms;
    -moz-transition: all, linear, 300ms;
    transition: all, linear, 300ms;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -6px; }
  .animate-menu-icon-out:after {
    -webkit-transition: all, linear, 300ms;
    -moz-transition: all, linear, 300ms;
    transition: all, linear, 300ms;
    -webkit-transform: roate(0deg);
    -moz-transform: roate(0deg);
    -ms-transform: roate(0deg);
    -o-transform: roate(0deg);
    transform: roate(0deg);
    top: 6px; }

@-webkit-keyframes animate-card-in {
  0% {
    -webkit-transform: translateY(200px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }
@-moz-keyframes animate-card-in {
  0% {
    -moz-transform: translateY(200px);
    opacity: 0; }

  100% {
    -moz-transform: translateY(0px);
    opacity: 1; } }
@keyframes animate-card-in {
  0% {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
.animate-card-in {
  -webkit-animation: animate-card-in cubic-bezier(0.86, 0, 0.07, 1) 600ms;
  -moz-animation: animate-card-in cubic-bezier(0.86, 0, 0.07, 1) 600ms;
  animation: animate-card-in cubic-bezier(0.86, 0, 0.07, 1) 600ms; }

.home .card {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-will-change: translate;
  -moz-will-change: translate;
  will-change: translate;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 25%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .home .card:after {
    position: absolute;
    z-index: 1;
    content: "";
    height: 100%;
    width: 100%;
    min-width: 100%;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(rgba(8, 11, 14, 0.3), #080b0e); }
.home .science {
  left: 0;
  background-image: url("../img/bg-science.jpg"); }
.home .atheism {
  left: 25%;
  background-image: url("../img/bg-atheism.jpg"); }
.home .philosophy {
  left: 50%;
  background-image: url("../img/bg-philosophy.jpg"); }
.home .technology {
  left: 75%;
  background-image: url("../img/bg-technology.jpg"); }
.home .world-news {
  left: 100%;
  background-image: url("../img/bg-world-news.jpg"); }

.section-title {
  position: relative;
  top: 100px;
  display: block;
  z-index: 9999;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-family: "Vollkorn", serif;
  font-size: 1.75em;
  font-style: italic; }
  .section-title--sign-up {
    font-family: Gotham-Book, Helvetica, Arial, sans-serif;
    font-style: normal; }

.content {
  position: absolute;
  display: block;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 400px;
  margin-bottom: 40px;
  padding: 20px; }
  .content ul {
    margin-left: 15px;
    padding: 0; }
    .content ul li {
      position: relative;
      display: list-item; }
      .content ul li:before {
        position: absolute;
        display: inline-block;
        content: "";
        top: 18px;
        left: -15px;
        width: 6px;
        height: 2px;
        background: #f1c40f; }
      .content ul li a {
        display: inline-block;
        padding: 10px 0;
        color: #f2f2f2;
        font-size: 0.8125em;
        font-family: Gotham-Book, Helvetica, Arial, sans-serif; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: transparent;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: 10px; }
  .btn-read-more {
    -webkit-transition: all, linear, 300ms;
    -moz-transition: all, linear, 300ms;
    transition: all, linear, 300ms;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    z-index: 9999;
    left: 50%;
    bottom: 0;
    color: white;
    padding: 10px 16px;
    border-radius: 999px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 0.625em;
    font-family: Gotham-Book, Helvetica, Arial, sans-serif;
    font-weight: 700; }
    .btn-read-more:hover {
      color: white;
      background: #f1c40f;
      border: 1px solid #f1c40f; }
  .btn-sign-up {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    z-index: 9999;
    left: 50%;
    width: 100%;
    color: white;
    padding: 14px 16px;
    margin-top: 10px;
    text-transform: uppercase;
    background: #27ae60;
    border-radius: 999px;
    font-size: 0.75em;
    font-family: Gotham-Book, Helvetica, Arial, sans-serif;
    font-weight: 700; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes animation-results-in {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0deg);
    opacity: 1; } }
@-moz-keyframes animation-results-in {
  0% {
    -moz-transform: translateY(-100px);
    opacity: 0; }

  100% {
    -moz-transform: translateY(0deg);
    opacity: 1; } }
@keyframes animation-results-in {
  0% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0deg);
    -moz-transform: translateY(0deg);
    -ms-transform: translateY(0deg);
    -o-transform: translateY(0deg);
    transform: translateY(0deg);
    opacity: 1; } }
@-webkit-keyframes animate-menu-in {
  0% {
    -webkit-transform: translateX(325px); }

  100% {
    -webkit-transform: translateX(0px); } }
@-moz-keyframes animate-menu-in {
  0% {
    -moz-transform: translateX(325px); }

  100% {
    -moz-transform: translateX(0px); } }
@keyframes animate-menu-in {
  0% {
    -webkit-transform: translateX(325px);
    -moz-transform: translateX(325px);
    -ms-transform: translateX(325px);
    -o-transform: translateX(325px);
    transform: translateX(325px); }

  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }
.animate-menu-in {
  -webkit-animation: animate-menu-in cubic-bezier(0.86, 0, 0.07, 1) 425ms;
  -moz-animation: animate-menu-in cubic-bezier(0.86, 0, 0.07, 1) 425ms;
  animation: animate-menu-in cubic-bezier(0.86, 0, 0.07, 1) 425ms;
  display: block; }

.animate-menu-out {
  -webkit-transition: all, cubic-bezier(0.86, 0, 0.07, 1), 425ms;
  -moz-transition: all, cubic-bezier(0.86, 0, 0.07, 1), 425ms;
  transition: all, cubic-bezier(0.86, 0, 0.07, 1), 425ms;
  -webkit-transform: translateX(325px);
  -moz-transform: translateX(325px);
  -ms-transform: translateX(325px);
  -o-transform: translateX(325px);
  transform: translateX(325px); }

.section-type {
  padding: 0;
  margin: 0;
  color: #f1c40f;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Gotham-Bold;
  font-weight: 700;
  font-size: 0.75em; }
  .section-type:after {
    position: relative;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2); }

.sign-up {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  display: none;
  z-index: 10000;
  top: 0;
  right: 0;
  width: 325px;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: -webkit-linear-gradient(#080b0e, #233140); }

.sign-up-form {
  position: relative;
  top: 100px;
  z-index: 9999;
  width: 60%;
  margin: 0 auto; }
  .sign-up-form .input-default {
    -webkit-transition: border-color, linear, 200ms;
    -moz-transition: border-color, linear, 200ms;
    transition: border-color, linear, 200ms;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: transparent;
    border: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.8125em; }
    .sign-up-form .input-default:focus {
      outline: 0 none;
      border-color: #f1c40f; }

.input-is-required {
  border-bottom: 1px dotted #e74c3c !important; }

.input-filled {
  border-bottom: 1px dotted #27ae60 !important; }

.sign-up-feedback {
  text-align: center;
  color: #e74c3c;
  font-size: 0.75em;
  font-family: Gotham-Book, Helvetica, Arial, sans-serif; }
