<section class="home">
    <div class="card science">
        <p class="section-title">Science</p>
        <div class="content">
            <p class="section-type">Featured</p>
            <ul class="results results--science"></ul>
            <a href="#" class="btn btn-read-more">Read More Articles</a>
        </div>
    </div>
    <div class="card atheism">
        <p class="section-title">Atheism</p>
        <div class="content">
            <p class="section-type">Featured</p>
            <ul class="results results--atheism"></ul>
            <a href="#" class="btn btn-read-more">Read More Articles</a>
        </div>
    </div>
    <div class="card philosophy">
        <p class="section-title">Philosophy</p>
        <div class="content">
            <p class="section-type">Featured</p>
            <ul class="results results--philosophy"></ul>
            <a href="#" class="btn btn-read-more">Read More Articles</a>
        </div>
    </div>
    <div class="card technology">
        <p class="section-title">Technology</p>
        <div class="content">
            <p class="section-type">Featured</p>
            <ul class="results results--technology"></ul>
            <a href="#" class="btn btn-read-more">Read More Articles</a>
        </div>
    </div>
    <div class="card world-news">
        <p class="section-title">World News</p>
        <div class="content">
            <p class="section-type">Featured</p>
            <ul class="results results--world-news"></ul>
            <a href="#" class="btn btn-read-more">Read More Articles</a>
        </div>
    </div>
</section>